html,
body {
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
	scroll-behavior: smooth !important;
}

body {
	scroll-behavior: smooth !important;
}

html {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #9E9E9E;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #3e3e3e;
	overflow-x: hidden;
}

body :focus {
	outline: none;
}

button:focus {
	outline: 5px auto transparent;
}

section {
	padding: 20px 0 15px;
}

.navbar {
	background: #00000070;
	top: 0rem;
	right: 0;
	left: 0;
	transition: .5s;
	box-shadow: 0 0 10px #00000073;

}

.fixed-color {
	background: #000;
	transition: .5s;
	padding: 0;
}

.top {
	top: 0rem;
}

.top-cero {}

.navbar-nav .nav-link {
	padding-right: 1.5rem !important;
	color: #fff;
}
.main-service_include--grid__five--fotos {
	grid-template-columns: 1fr 1fr 1fr!important;
}
.main-brand {
	width: 40%;
}
.main-iconos__content,.main-funciona__content{
	display: none;
}

/* .link-color{
	color: #00c2df!important;
	} */
	.navbar-brand img {
		width: 30%;
	}

	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
	}

	.main-banner_img {
		height: 100vh;
	}

	.main-banner_img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo-banner{
		position: absolute;
		z-index: 9;
		width: 50%;
		height: auto;
	}
	.logo-md{
		display: none;
	}
	.banner_xs{
		display: none;
	}
	.main-banner_text{
		position: absolute;
		top: 67%;
		color: #ffff;
		right: 35%;
	}
	.call-contact {
		background: #00c2df;
		border-radius: 10px;
		padding-left: 10px;
		text-align: center;
	}

	.main-servicio_body {
		display: flex;
		margin-bottom: 90px;
	}


	.main-servicio_img {
		position: relative;
		width: 50%;
	}

	.mask-service{
		position: absolute;
		width: 100%;
		background: #0000001f;
		height: 450px;
		top: 0;
	}

	.main-servicio_img img {
		width: 100%;
		height: 370px;
		object-fit: cover;
		object-position: top;
	}
	.main-detail .main-servicio_img img {
		width: 100%;
		height: 480px;
		object-fit: cover;
	}

	.main-servicio_img--one img {
		margin-left: -25px;
	}

	.main-servicio_img--two img {
		margin-left: 25px;
	}

	.background-home{
		background: #00c2df;
		position: absolute;
		margin-top: -15px;
		margin-left: -10px;
		width: 100%;
		height: 350px;
		z-index: -1;
		transform: translateX(0);

		transition: all .90s ease;
	}

	.main-servicio_body:hover .background-home {

		transform: translateX(680px);
		/* left: 680px; */
	}


	.background-home--reverse {
		background: #00c2df;
		margin-left: 10px;
	}

	.main-servicio_body:hover .background-home--reverse {

		transform: translateX(-680px);
		/* left: 680px; */
	}

	.main-servicios_info a {
		text-decoration: none;
	}

	.main-servicio_body:hover span {
		border-bottom: 10px solid #fff;
	}


	/* clientes */
	.clientes {
		/* background-image: url('../img/slider7.png'); */
		background: #000;
	    height: 300px;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
	}
	.mask-contact{
		position: absolute;
		background: #00000073;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		top: 0;
		bottom: 0;
	}
	.mask {
		position: absolute;
		background: #00000073;
		width: 100%;
		height: inherit;
		flex-direction: column;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mask p {
	
		color: #fff;
		font-size: 3rem;

	}

	.main-clients__content {
	
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-clients__content .slick-dots {
		bottom: 35px;
	}

	.slick-dots li.slick-active button::before {
		color: black;
		opacity: 0.75;
		background: #00c2df;
		border-radius: 10px;
	}

	.main-servicio_img {
		width: 50%;
	}

	.main-servicios_info p {
		color: #000;
		font-size: 3rem;
	}

	.w5 {
		width: 50%;
	}

	.w7 {
		margin-right: 200px;
	}

	.main-servicios_info span {
		font-weight: bold;
		border-bottom: 10px solid #00c2df;
	}

	.main-servicios_info span {

	}

	.p-150{
		padding-left: 150px;
	}

	.main-servicios:nth-child(2) {
		text-align: end;
	}

	.main-servicios_info--subtitle {
		font-size: 1.3rem !important;
	
		margin-bottom: 90px;
	}

	.pr-5 {
		padding-right: 50px;
	}

	.main-servicios:nth-child(2) .main-servicios_info--subtitle {
		width: 100%;
		text-align: end;
	}

	.main-servicios_info {
		width: 50%;
	}

	.btn-card {
		padding: 10px;
		background: #c5c5c56e;
		border-radius: 10px;
		color: #00c2df;
		box-shadow: 1px 3px 5px #000000c7;
		font-size: .9rem;
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
		transition: .5s;
	}

	.main-servicio_body:hover .btn-card {
		background: #fff;

		color: #00c2df;
		transition: .5s;

	}

	.main-servicio_body:nth-child(2) {
		flex-direction: row-reverse;
		text-align: right;
	}


	.slick-dots li.slick-active button::before {

		color: transparent;
	}

	.slick-dots li button {
		background: #949494;
		border-radius: 10px;
	}

	.main-contacto_grid {
		display: grid;
		grid-template-columns: 60% 40%;
	}

	.main-contacto_content img {
		width: 100%;
		height: 900px;
		object-fit: cover;
		position: absolute;
		z-index: -1;

	}


	.main-detail-text span{
		font-weight: 100!important;
	}
	.main-detail-text{
		font-size: 2rem;
		font-weight: bold;
		color: #000;
		text-align: end;
	}
	.main-detail-text span {

		border-bottom: 5px solid #ff00ff!important;
	}
	.main-detail-text-v span{
		border-bottom: 5px solid #00c2df!important;	
	}

	.main-detail_description  {

		text-align: end;
	}




	.main-contacto_content-totem img {

		object-position: 30%;
	}

	.main-contacto p {
		color: #000;
		font-size: 3rem;
		margin-top: 1.5rem;
		position: relative;
	}

	.form-control {

		border: 2px solid #00c2dfad;

	}
	.iconos_productoras{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: absolute;
		top: 50%;
	}
	.text-productora{
		width: 65%;
	}
	.mask-service-productora {
		position: absolute;
		width: 100%;
		background: #000000ad;
		height: 520px;
		top: 0;
	}
	.iconos_productoras p {
		position: initial!important;
		font-size: 1rem!important;
		color: #fff!important;
	}
	.iconos_productoras img{
		width: 120px;
	}
	.main-banner_title-productora p {
		
		top: 20%!important;
		margin: 0;

	}
	.iconos_productoras_img{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.detail-service-productora img {

		height: 520px!important;

	}
	.pieza-productora {

		top: 25%!important;

	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-contacto strong::before {
		content: "";
		width: 30%;
		height: 9px;
		position: absolute;
		background: #00c2df;
		left: 130px;
		bottom: 0;
	}

	.main-contacto_content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		box-shadow: -20px 0px 30px #00000047;
	}

	.custom-control-label::before {

		width: 18px;
		height: 18px;

		background-color: #ffffff;
		border: 2px solid #00c2df;
	}

	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#contact-section{
		margin-bottom: 120px;
	}

	.btn {
		background: #00c2df;
		color: #fff;
		width: 150px;
		height: 55px;
	}

	.main-footer {
		background: #000;
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.main-footer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.main-footer__content img {
		width: 50%;
	}

	.main-footer__content {
		padding: 30px;
	}

	.main-footer__redes .fa {
		color: #00c2df;
		border: 1px solid #00c2df;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding: 7px 7px 15px;
		font-size: 1.5rem;
		text-align: center;
	}

	.main-footer__redes {
		margin-left: 100px;
		z-index: 1;
	}
	.main-footer__redes-contact .fa {
		color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		padding: 7px 7px 15px;
		font-size: 2.5rem;
		text-align: center;
		display: flex;
		justify-content: center;
		margin: 20px;
	}


	.main-footer__content ul {
		list-style: none;

	}

	.main-footer__content li {
		color: #fff;
		margin-bottom: 15px;
	}

	.main-footer__content i {
		color: #00c2df;
		border: 1px solid #00c2df;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding: 7px 7px 15px;
		font-size: 1.5rem;
		text-align: center;
		margin-right: 15px;

	}

	.main-footer p {
		font-size: 1.5rem;
		color: #00c2df;
		font-weight: bold;
	}

	.main-footer .btn-contact {
		font-size: 1.5rem;
		color: #00c2df;
		font-weight: bold;
	}

	.main-footer a:hover {
		text-decoration: none;
		color: #00c2df;
	}

	.main-footer__content li:hover {
		color: #00c2df;

	}

	.custom-control-input:checked~.custom-control-label::before {

		background-color: #72ff7e;
	}

	.main-footer .btn-contact:hover {
		color: #ffffff;
	}

	/***************************************************************************** DEtails sercios ****************************************************************************/
	.detail-service img {
		width: 100%;
		height: 450px;
		object-fit: cover;

	}

	.parraf{
		font-style: italic!important;
		font-size: 1rem!important;
		text-align: end!important;
		margin-top: 21px!important;
		color: #545454 !important;
	}
	.hashtagprint p{ 
		font-size: 1rem!important;
		text-align: center!important;
		line-height: 1.4!important;
	}

	.main-banner {
		position: relative;
	}
	.banner_lg{
		height: 100vh;
		width: 100%;
		object-fit: cover;
	}

	.main-banner_title {
		text-align: center;
		display: flex;
		justify-content: center;
		/* top: 0; */
		align-items: center;

	}

	.main-banner_title p {
		position: absolute;
		top: 40%;
		font-size: 3rem;
		color: #fff;
	}

	.main-detail_flex {
		display: flex;
	}

	.main-detail_content {
		width: 50%;
		padding: 50px;
	}

	.main-detail_content p {
		color: #000;
		font-size: 2.5rem;
	}

	.main-detail_content span {
		font-weight: bold;
		border-bottom: 5px solid #00c2df;
	}

	.main-detail_flex .background--reverse {

		/* transform: skewY(5deg); */
	}

	.main-detail_flex .main-servicio_img--two img {
		margin-left: 25px;
		/* transform: skewY(5deg); */
	}

	.main-detail_flex .background {

		margin-top: 15px;

	}

	.main-detail_subtitle {
		font-size: 1.5rem !important;
	}

	.main-detail_description {
		font-size: 1rem !important;
		color: #545454 !important;
	}

	/* .main-clients__item {
		width: 100%;
	} */

	.main-fotos__content img {
		width: 90%;
		box-shadow: 3px 3px 10px #040404ad;
		height: 210px;
	}

	.main-fotos .slick-initialized .slick-slide {
		display: block;
		margin: 10px;
		position: relative;
	}

	.background-slider {
		background: transparent;
		position: absolute;
		margin-top: 15px;
		margin-left: -10px;
		width: 90%;
		height: 207px;
		z-index: -1;
	}

/* .main-service_include--grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	} */
	.main-service_include {
		width: 100%;
		height: 450px;

		border-radius: 10px;

	}
	.mb-50{
		margin-bottom: -50px;
	}
	.main-detail_flex-reverse {
		flex-direction: row-reverse;
	}

	.main-detail_flex-reverse .background--reverse {
		/* transform: skewY(-5deg); */
		margin-left: -10px;
		/* background: #00c2df; */
	}

	.main-detail_flex-reverse .main-servicio_img--two img {
		margin-left: -25px;
		/* transform: skewY(-5deg); */
	}

	.main-detail_flex-reverse span {
		font-weight: bold;
		border-bottom: 5px solid #00c2df;
	}



	.subtitle{
		color: #000!important;
		font-size: 1.5rem !important;
	}
	.main-fuction p {
		color: #000;
		font-size: 2.5rem;
		text-align: end;
	}

	.main-fuction--general p {
		color: #000;
		font-size: 2.5rem;

	}

	.background-slider-reverse .background-slider {
		background: transparent;

	}




	.main-productoras__content img {
		width: 90%;
		box-shadow: 3px 3px 10px #040404ad;
		height: 210px;
		object-fit: cover;
	}

	.contacto-top {
		margin-top: 111px;
	}

/* .contacto-page .main-contacto_content {

	overflow: inherit;
	} */

	.contacto-page .main-contacto_content img {

		border-left: 9px solid #00c2df;

	}

	.pieza{
		position: absolute;
		top: 50%;
		width: 25%;
	}

	.main-fuction_grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
/* .main-fuction_item img{
	width: 250px;
	} */
	.main-fuction_item-img img{
		width: 270px;
	}
	.main-fuction_item{
		text-align: center;
		position: relative;
		text-align: center;
		position: relative;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-fuction_item-gray img{
		width: 70%;
	}
	.main-fuction_item span{
		color: #000;
		font-size: 3rem;
		font-weight: bold;
		display: flex;
		text-align: center;
		justify-content: center;
	}
	.opcional{
		color: gray!important;
		font-size: .9rem!important;
	}
	.main-fuction_item p{
		font-size: 1.1rem;
		text-align: center;
		line-height: .9;
		padding: 0 30px;
		color: #545454 !important;
	}
	.main-service_include--grid__five{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.main-service_include--grid__five .main-fuction_item img {
		width: 150px;
		filter: brightness(1);
	}
	.main-detail_description-start {
		text-align: start;
	}
	.main-fuction_item-gray  p {


	}

	.b-top {
		border-top: 8px solid #00c2df;
	}

.slick-next:before {
  content: "\f105" !important;
}

.slick-prev:before {
  content: "\f104" !important;

}

.slick-prev {
  z-index: 2;
}

.slick-prev:before,
.slick-next:before {

  color: #00b1cc !important;

}

.slick-next:before,
.slick-prev:before {
  font-family: 'FontAwesome' !important;
  font-size: 50px !important;
}

.slick-prev, .slick-next{
	top: 40%;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.fa-info-circle{
	font-size: 30px;
	margin-top: 10px;
}