@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #000;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0px;
    visibility: visible;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1440px) and (max-width: 1199px) {
  .wave-m {
    top: 55%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .fa-navicon:before,
  .fa-reorder:before,
  .fa-bars:before {

    color: #fff;
  }

  .navbar-expand-md .navbar-toggler {
    display: initial;
  }

  .main-fuction_item-gray img {
    width: 25%;
  }

  .slick-initialized .slick-slide {
    display: block;
    text-align: center;
    display: flex;
  }

  .main-service_include {

    height: auto;

  }

  .main-iconos__content {
    display: initial;
  }

  .main-service_include--grid__five {

    display: none;
  }

  .mb-50 {
    margin-bottom: 0;
  }

  .main-fuction_item p {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.4;
    padding: 0;
    color: #545454 !important;
  }

  .main-detail_subtitle {
    font-size: 1.1rem !important;
  }

  .main-detail_content p {

    font-size: 2rem;
  }

  .main-detail_content {
    /* width: 50%; */
    padding: 0;
  }

  .main-servicio_body:hover .background-home {
    transform: none;
  }

  .background-home {

    height: 250px;

  }

  .main-servicio_img img {

    height: auto !important;
    object-fit: contain !important;

  }

  .main-banner_text {
    display: none;
  }

  .logo-md {
    display: initial;
  }

  .offcanvas-collapse {

    top: 15%;

  }

  .navbar-nav {

    display: inline-block;

  }

  .ml-auto,
  .mx-auto {
    margin-left: initial !important;
  }

  .navbar-expand-md .navbar-nav {

    height: 100%;
  }

  .navbar-brand img {
    width: 30% !important;
  }

  .main-brand {
    width: 100%;
    display: flex;
  }

  .main-contacto strong::before {
    left: 80px;

  }

  .main-contacto p {

    font-size: 2rem;

  }

  .navbar-brand img {
    width: 60%;
  }

  .navbar-brand img {


    width: 60%;
  }

  .mask p {


    font-size: 2rem;
  }

  .main-servicio_body:hover .background-home {
    transform: none;

  }

  .w7 {
    margin-right: 0px;
  }

  .main-servicios_info--subtitle {
    font-size: 1.1rem !important;

  }

  .p-150 {
    padding-left: 14px;
  }

  .main-servicios_info p {

    font-size: 2rem;
  }

  .wave-m {
    top: 56%;
  }

  .main-banner__text {
    width: 88%;
  }

  .hj {
    box-shadow: none;
    width: auto;
  }
}

@media (min-width: 0px) and (max-width: 767px) {

  .mb-5,
  .my-5 {
    margin-bottom: 0rem !important;
  }

  .main-servicio_body:hover .background-home {
    transform: none;
  }

  .background-home {

    height: 200px;

  }

  .main-servicio_img img {
    height: auto;
    object-fit: contain;

  }

  .main-fuction p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2;
  }

  .main-detail .main-servicio_img img {
    height: auto;
    object-fit: contain;
  }

  .main-detail_content p {
    text-align: center;
    font-size: 2rem;
  }

  .main-detail_content p:nth-child(2) {
    font-size: 1rem !important;
  }



  .main-servicio_body:hover .background-home {
    transform: none;

  }

  .main-banner_text {
    display: none;
  }

  .main-funciona__content,
  .main-iconos__content {
    display: flex !important;
  }

  .cotizaicion p:nth-child(2) {
    margin-top: 6px;
  }

  .main-fuction_item {

    display: flex !important;

  }

  .main-service_include--grid,
  .main-fuction_grid {
    display: none;
  }

  .main-iconos__content,
  .main-funciona__content {
    display: initial;
  }

  .heading__static {
    font-size: 21px;
  }

  .main-banner_text {
    position: absolute;
    top: 57%;
    color: #ffff;
    right: 18%;
  }

  .mask-service-productora {


    height: 850px;

  }

  .detail-service-productora img {
    height: 850px !important;
  }

  .iconos_productoras {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 40%;
  }

  .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    color: #fff !important;
  }

  .main-clients__item {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .main-footer__content img {
    width: 90%;
  }

  .main-banner_title p {
    font-size: 1.8rem;
  }

  .mb-50 {
    margin-bottom: 0px;
  }

  .pieza {
    width: 50%;
    top: 50%;

  }

  .p-150 {
    padding-left: 0px;
  }

  .main-service_include--grid__five--fotos {
    grid-template-columns: 1fr;
  }

  .main-service_include--grid__five {
    grid-template-columns: 1fr;
  }

  .main-fuction_grid {

    grid-template-columns: 1fr !important;
  }

  .main-brand {
    width: 100%;
  }
  .logo-banner {
 
    display: none;
}


  .banner_xs {
    display: initial;
  }

  .main-detail {
    margin-bottom: 0;
  }
  .logo-md {
    display: initial;
}
  .banner_lg {
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
  }

  .main-detail_flex .background--reverse {
    transform: none;
  }

  .main-detail_flex .main-servicio_img--two img {

    transform: none;
  }


  .main-detail_content {
    width: 100%;
    padding: 0;
    text-align: center;
    height: auto;
  }

  .main-detail_flex {
    display: block;
  }

  .mask p {

    font-size: 1.5rem;
    margin-top: 50px;
  }

  .main-footer__redes {
    margin-left: 0;
  }

  .main-footer__content {
    margin-top: 20px;
    padding: 20px;
  }

  .main-footer-grid {

    grid-template-columns: 1fr;
    text-align: center;
  }

  .main-footer {

    height: auto;

    background: #000;
  }

  .main-contacto strong::before {
    left: 80px;

  }

  .main-contacto p {

    font-size: 2rem;

  }

  .main-contacto_grid {

    grid-template-columns: 100%;
  }

  .clientes {

    background-size: auto;

  }

  .w7 {
    width: 100%;
  }

  .pr-5,
  .px-5 {
    padding-right: 0rem !important;
  }

  .fa-navicon:before,
  .fa-reorder:before,
  .fa-bars:before {
    content: "\f0c9";
    color: #fff;
  }

  .main-servicios_info--subtitle {

    margin-bottom: 50px;
  }

  .main-servicio_img--one img {
    margin-left: -44px;
  }

  .main-servicios_info p {

    font-size: 2rem;
    margin-top: 20px;
  }

  .main-banner_img img {
    width: 100%;
  }

  .main-servicio_body {
    display: inherit;
    margin-bottom: 90px;
  }

  .main-servicio_img {
    width: 100%;
    text-align: center;
  }

  .w5 {
    width: 100%;
    text-align: center;
  }

  .main-servicios_info {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-link {
    color: #00c2df;
  }

  section {
    padding: 10px 0 10px;
  }

  .wave-m {
    object-fit: contain;
  }

  .img-item {
    display: none;
  }

  .main-grid__content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navbar {

    background: #000000;
    border-radius: 0px;
  }

  .main-brand {
    display: inherit;
  }

  .navbar-brand img {
    width: 40%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heading__static {
    font-size: 2rem;
  }

  .main-banner_text {
    top: 55%;
  }

  .main-servicios_info p {

    font-size: 2.5rem;
  }

  .main-clients__content .slick-dots {
    bottom: -30px;
  }

  .main-servicio_img img {

    height: auto;
    object-fit: contain;

  }

  .background-home {

    height: 330px;

  }

  .mask p {
    color: #fff;
    font-size: 2.5rem;
  }

  .main-servicio_body:hover .background-home {
    transform: none;
  }
}

@media (width: 1280px) and (height: 1024px) {
  .heading__static {
    font-size: 2rem;
  }

  .main-banner_text {
    top: 54%;
    right: 36%;
  }

  .navbar-brand img {
    width: 40%;
  }

  .main-contacto_content {

    padding: 50px;
  }

  .main-servicio_img img {

    height: auto;
    object-fit: contain;

  }

  .background-home {

    height: 390px;

  }

  .main-servicio_body:hover .background-home {
    transform: none;
  }
}