@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #000;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0px;
    visibility: visible;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1440px) and (max-width: 1199px) {
  .wave-m {
    top: 55%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wave-m {
    top: 56%;
  }
  .main-banner__text {
    width: 88%;
  }
  .hj {
    box-shadow: none;
    width: auto;
  }
}

@media (min-width: 0px) and (max-width: 767px) {

  .main-funciona__content, .main-iconos__content{
    display: flex!important;
  }
  .cotizaicion p:nth-child(2){
    margin-top: 6px;
  }
  .main-fuction_item {

    display: flex!important;

  }
  .main-service_include--grid , .main-fuction_grid{
    display: none;
  }
  .main-iconos__content, .main-funciona__content{
    display: initial;
  }
  .heading__static{
    font-size: 21px;
  }
  .main-banner_text {
    position: absolute;
    top: 57%;
    color: #ffff;
    right: 18%;
  }
  .mask-service-productora {


    height: 850px;
    
  }
  .detail-service-productora img {
    height: 850px!important;
  }
  .iconos_productoras {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 40%;
  }
  .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    color: #fff!important;
  }
  .main-clients__item {
    width: 100%;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
  }
  .main-footer__content img {
    width: 90%;
  }
  .main-banner_title p {
    font-size: 2.5rem
  }
  .mb-50{
    margin-bottom: 0px;
  }
  .pieza {

    top: 71%;

  }
  .p-150 {
    padding-left: 0px;
  }
  .main-service_include--grid__five--fotos {
    grid-template-columns: 1fr ;
  }

  .main-service_include--grid__five{
    grid-template-columns: 1fr;
  }
  .main-fuction_grid {

    grid-template-columns: 1fr!important;
  }
  .main-brand {
    width: 100%;
  }
  .banner_lg, {
    display: none;
  }
  .banner_xs{
    display: initial;
  }
  .main-detail{
    margin-bottom: 50px;
  }
  .banner_lg {
    height: 100vh;
    width: 100%;
    display: none;
  }
  .main-detail_flex .background--reverse {
    transform: none;
  }
  .main-detail_flex .main-servicio_img--two img {

    transform: none;
  }
  .main-detail_content p {
    color: #000;
    font-size: 2rem;
  }
  .main-detail_content {
    width: 100%;
    padding: 0;
    text-align: center;
    height: auto;
  }
  .main-detail_flex {
    display: block;
  }
  .mask p {

    font-size: 1.5rem;
    margin-top: 50px;
  }
  .main-footer__redes {
    margin-left: 0;
  }
  .main-footer__content {
    margin-top: 20px;

  }
  .main-footer-grid {

    grid-template-columns: 1fr ;
    text-align: center;
  }
  .main-footer {

    height: auto;

    background: #000;
  }
  .main-contacto strong::before {
    left: 80px;

  }
  .main-contacto p {

    font-size: 2rem;

  }
  .main-contacto_grid {

    grid-template-columns: 100%;
  }
  .clientes {

    background-size: auto;

  }
  .w7 {
    width: 100%;
  }
  .pr-5, .px-5 {
    padding-right: 0rem !important;
  }

  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    color: #fff;
  }

  .main-servicios_info--subtitle {

    margin-bottom: 50px;
  }
  .main-servicio_img--one img {
    margin-left: -44px;
  }
  .main-servicios_info p {

    font-size: 2rem;
    margin-top: 20px;
  }
  .main-banner_img img{
    width: 100%;
  }
  .main-servicio_body {
    display: inherit;
    margin-bottom: 90px;
  }

  .main-servicio_img {
    width: 100%;
    text-align: center;
  }
  .w5 {
    width: 100%;
    text-align: center;
  }
  .main-servicios_info {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-link {
    color: #00c2df;
  }
  section {
    padding: 10px 0 10px;
  }
  .wave-m {
    object-fit: contain;
  }
  .img-item {
    display: none;
  }
  .main-grid__content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar {

    background: #000000;
    border-radius: 0px;
  }
  .main-brand {
    display: inherit;
  }
  .navbar-brand img {
    width: 40%;
  }
  .text-libro{
    display: none;
  }
}

